<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Form</title>

</head>

<body>
    {%include 'nav.html'%}
   
    <h2 style="text-align: center;margin-top: 60px;">Profile Form</h2>
    <form action="" method="post" style="margin-top: 20px;">
        {%csrf_token%}
        <table class="d-flex justify-content-center align-items-center my-2 m">
            <tbody>
                <tr>
                </tr>
                <!-- <tr>
                    <th><label for="id_user" class="form-label">Username:</label></th>
                    <td>

                        <input type="text" class="form-control" name="user" class="form-control" required=""
                            id="id_user" fdprocessedid="67bbs" value="{{user}}">

                    </td>
                </tr> -->

                <!-- <tr>
                    <th><label for="id_profile_pic" class="form-label">Profile pic:</label></th>
                    <td>

                        <input type="file" class="form-control" name="profile_pic" accept="image/*" required=""
                            id="id_profile_pic">


                    </td>
                </tr> -->

                <tr>
                    <th><label for="id_first_name" class="form-label">First name:</label></th>
                    <td>

                        <input type="text" class="form-control" name="first_name" maxlength="70" required=""
                            id="id_first_name" fdprocessedid="ua23p">


                    </td>
                </tr>

                <tr>
                    <th><label for="id_Last_name" class="form-label">Last name:</label></th>
                    <td>

                        <input type="text" class="form-control" name="Last_name" maxlength="70" required=""
                            id="id_Last_name" fdprocessedid="r06wp4">


                    </td>
                </tr>

                <!-- <tr>
                    <th><label for="id_dob" class="form-label">Dob:</label></th>
                    <td>

                        <input type="text" class="form-control" name="dob" required="" id="id_dob"
                            fdprocessedid="g1icql">


                    </td>
                </tr> -->

                <tr>
                    <th><label for="id_email" class="form-label">Email:</label></th>
                    <td>

                        <input type="email" class="form-control" name="email" maxlength="70" required="" id="id_email"
                            fdprocessedid="fp5c8u">


                    </td>
                </tr>

                <tr>
                    <th><label for="id_address" class="form-label">Address:</label></th>
                    <td>

                        <input type="text" name="address" class="form-control" cols="40" rows="10" required=""
                            id="id_address">




                    </td>
                </tr>
                <tr>
                    <!-- <td>
                
                        <a href="/" class="btn btn-outline-danger  btn-lg  " tabindex="-1" role="button"
                            aria-disabled="true">Already Created</a>
                    </td> -->
                    <td>
                
                        <button type="submit" value="submit" class=" btn-outline-success my-4  btn-lg" style="margin-left: 30px;">Save Profile</button>
                    </td>
                
                </tr>

            </tbody>
        </table>
    </form>
    
</body>

</html>